Multipart Form Data Support

It would be nice to have support for `multipart/form-data` actions. However, due to limitations in `node-fetch` (namely v2.6.1, the version used by `cross-fetch`), this is difficult to do in a cross-platform manner.

The [docs for `node-fetch`](https://github.com/node-fetch/node-fetch/tree/v2.6.1#post-with-form-data-detect-multipart) recommend using [`form-data`](https://www.npmjs.com/package/form-data), however, it can't handle `File` objects from [`@web-std/file`](https://www.npmjs.com/package/@web-std/file), which are what we use for `file` fields.

Need to weigh a few options:

1. Extend the `FormData` class from `form-data`. This could cause issues with browser clients.
2. Contribute to `form-data` to add support for `File`-like objects.
3. Find another package to support `FormData` in Node.
4. Implement our own cross-platform `FormData` class. Not sure if `multipart` would/could be auto-detected.
5. Manually serialize to a `multipart/form-data` string according to [Section 5.1 of RFC 2046](https://datatracker.ietf.org/doc/html/rfc2046#section-5.1).